.episode-container {
  .episode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
    overflow-x: hidden;
  }

  .comments-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .comments {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 5vh;
      overflow-x: hidden;
      width: 50vw;
    }
  }
}
