$text-color: #718096;
.episode-info {
  padding-left: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  .episode-number {
    color: #a0aec0;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    font-weight: 100;
  }

  .episode-title {
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: #572814;
  }

  .subtitles {
    display: flex;
    flex-direction: row;
    align-items: center;

    .episode-comments-number {
      margin-left: 15px;
      color: $text-color;
    }
  }

  .description {
    margin-top: 20px;
    width: 500px;
    color: $text-color;
    line-height: 1.625;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
  }

  .participants-avatars {
    margin-top: 25px;

    .avatar {
      cursor: pointer;
    }
  }

  .divider {
    margin: 10px 0;
  }
}
