.episodes-container {
  padding: 0 12vw;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px
  }

  .load-more-button {
    width: 100%;
    align-self: center;
    color: #ffc000;
  }
}