.carousel-root {
  width: 65vw;
  height: 48vh;
  margin: 0 auto;
  margin-bottom: 2vh
}

.slick-prev:before {
  color: #572814 !important;
  background-color: transparent;
}
.slick-next:before {
  color: #572814 !important;
  background-color: transparent;
}